.error-msg {
	background: #5077A6;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.error-msg span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 28px;
	color: #FFFFFF;
}